* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:global {
    --color-bg: green;
    --color-active: red
}


header {
    margin: 0 auto;
    background: #2d2c32;
    height: 100px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0 auto;
}

.container {
    max-width: 900px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
}

main {
    min-height: calc(100vh - 85px - 22px);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

main a {
    text-decoration: none;
    color: var(--color-bg);
}

main a:hover {
    text-decoration: underline;
}

.active {
    color: var(--color-active);
    cursor: default;
}